ion-avatar {
  width: 50%;
  height: 50%;
  margin: auto;
  max-width: 120px;
}
/* ion-card-title {
    --color: #1b1b1b;
    font-weight: 400;
}
ion-card-subtitle {
    --color: #949393;
    text-transform: lowercase;
} */
